.Menu{
    width: 100%;
    list-style: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.Menu-link{
    position: relative;
    height: 60px;
}

.link::before{
    content: '';
    display: block;
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.link:active{
    transform: scale(.95);
}


.link:hover::before{
    background: #DCDDE1;
}

.link{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    color: white;
    background: transparent;
    border: none;
    text-decoration: none;
    padding-left: 20px;
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
    transition: .3s;
    outline: none;
}

.link:hover{
    font-weight: bold;
}

.isActive.link::before{
    background: #FBC531
}

.isActive{
    font-weight: bold;
    background: rgba(255,255,255, .08);
}


@media only screen and (max-width: 1090px){
    .Menu{
        height: auto;
        overflow: hidden;
        background: #353B48;
        transition: .3s;
        margin-top: 0;
        transform: translateY(-100%);
        position: relative;
        z-index: -1;
    } 
    .Show{
        transform: translate(0);
    }
}


