.User{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.User-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 5px;
}

.User-name{
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}


.User-email{
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
}

.User-roll{
    margin: 0;
   margin-bottom: 20px;
   font-size: 15px;
    font-weight: 300;
}

.User-divider{
    margin: 0;
    width: 180px;
    border: 1px solid #718093;
}



@media only screen and (max-width: 1090px){
    .User-email{
        display: none;
    }
    .User-roll{
        display: none;
    }
    .User-divider{
        display: none;
    }
    .User-image{
        margin-left: 5px;
        margin-bottom: 0;
        order: 1;
        width: 35px;
        height: 35px;
    }
    .User-name{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
    }
    .User{
        flex-direction: row;
        justify-content: flex-end;
        height: 60px;
        padding: 0 10px;
        align-items: center;
        box-sizing: border-box;
        background: #353B48;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    }
}